td {
    padding: 5px;
    margin: 0px;
}

table {
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 10px;
}

.even {
    background-color: #eee;
}

.odd {
    background-color: #ccc;
}

th {
    background-color: #aaa !important;
    text-align: left;
}

#wrapper {
    width: 60%;
    margin: auto;
}

.button {
    text-align: right;
}

table tr td input {
    width: 100%;
}

table tr td input[type="text"]:valid {
    background-color:  #b0ffbc;
}

table tr td input[type="text"]:invalid {
    background-color: #ff8e8d;
}

table tr td input[type="email"]:valid {
    background-color:  #b0ffbc;
}

table tr td input[type="email"]:invalid {
    background-color: #ff8e8d;
}