@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    background-color: #333333;
    color: #eeeeee;
    font-family: 'Raleway', sans-serif;
}

td {
    padding: 5px;
    margin: 0px;
}

table {
    border-spacing: 0px;
    width: 100%;
    margin-bottom: 10px;
    color: #000;
}

.even {
    background-color: #eee;
}

.odd {
    background-color: #ccc;
}

th {
    background-color: #aaa !important;
    text-align: left;
}

#wrapper {
    width: 60%;
    margin: auto;
}

.button {
    text-align: right;
}

.backBtn {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 99;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Ic_arrow_back_36px.svg/1000px-Ic_arrow_back_36px.svg.png") center;
    background-size: contain;
    width: 75px;
    height: 75px;
    filter: invert(1);
}

.backBtn a {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
}

table tr td input {
    width: 100%;
}

table tr td input[type="text"]:valid {
    background-color:  #b0ffbc;
}

table tr td input[type="text"]:invalid {
    background-color: #ff8e8d;
}

table tr td input[type="email"]:valid {
    background-color:  #b0ffbc;
}

table tr td input[type="email"]:invalid {
    background-color: #ff8e8d;
}

.delete {
    background-color: #cb0000;
    color: #eeeeee;
    text-decoration: none;
    text-align: center !important;
}

.deleteBtn {
    border: 2px solid #810000;
    margin: 2px;
    display: block;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.go {
    color: #333333;
    background-color: #28d125;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.2em solid #008400;
    border-radius: 3px;
    text-align: center;
}

.regularBtn {
    display: block;
}

.regular {
    color: #333333;
    background-color: #cbcbcb;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #858585;
    border-radius: 3px;
    text-align: center;
}

.goBtn {
    display: block;
}

.delete a, .delete a {
}

input[type="checkbox"].delete::after {
    content: "Ja, radera";
    color: black;
    margin-right: 0;
}

input[type="checkbox"].delete {
    color: #0f0;
}

input[type="submit"].delete {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #810000;
    border-radius: 3px;
}

table.form {
    background-color: #eeeeee;
}

/* Copy from http://cssdeck.com/labs/css-checkbox-styles
 * Was much faster than writing my own
 */

.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
    //content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}
input[type=checkbox] {
    visibility: hidden;
}

.hover {
    z-index: 100;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    border-top: 2px solid #656565;
    box-shadow: 0px -2px 10px #000;
    margin: 0px;
    padding: 5px;
}

.list {
    padding-bottom: 3em;
}

.p50 {
    width: 50% !important;
    margin: auto !important;
}